@model Mooshak___H37.Models.RegisterViewModel
@{
    ViewBag.Title = "CreateUser";
}

<link type="text/css" rel="stylesheet" href="~/Content/Admin.css">

<div class="clearfix">
    <div class="admin-createCourse-buttons">
        <button class="btn btn-primary save-button">Save</button>
    </div>

    <div class="large-left-portion">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal addUserForm", role = "form" }))
        {
        @Html.AntiForgeryToken()


            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
           <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Role, new SelectList(
                                            new List<Object> {
                                                new { value = "Student", text = "Student"},
                                                new { value = "Teacher", text = "Teacher" },
                                                new { value = "Admin", text = "Admin" }
                                                },
                                            "value",
                                            "text",
                                            2), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default button" value="Register" />
                </div>
            </div>

       }
    </div>
    @*<div class="right-portion form-group add-course-2">
        <div class="form-inline">
            <select class="form-control add-course">
                @foreach (var item in Model.Course)
                {
                    <option>
                        @Html.DisplayFor(modelItem => item.Name)
                    </option>
                }
            </select>
            <button class="btn btn-primary" id="button-add">add</button>
        </div>

        <div>
            <table class="table table-hover" id="create-table">
                <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Course</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>GangaSkipan</th>
                        <th><a href="#">Remove</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@
</div>