@model Mooshak___H37.Models.Viewmodels.CourseViewModel

@{
    ViewBag.Title = "Edit Course";
}

<div class="page-header">
	<h1>Edit Courses <small>++</small></h1>
</div>

<div class="clearfix">

	<div class="large-left-portion">
				@using (Html.BeginForm("EditCourse", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()

					@Html.ValidationSummary("", new { @class = "text-danger" })
					<div class="form-group">
						@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
						</div>
					</div>
					@Html.ValidationSummary("", new { @class = "text-danger" })
					<div class="form-group">
						@Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
						<div class="col-md-10 form-inline">
							@Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Isactive, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.CheckBoxFor(m => m.Isactive, new { @class = "checkbox-inline" })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" class="btn btn-primary create-button" value="Save Changes" />
						</div>
					</div>
				}
	</div>



	<div class="small-right-portion" id="addUser">

				@using (Html.BeginForm("addUserToCurse", "Admin", FormMethod.Post, new { @class = "form-horizontal addUserForm", role = "form" }))
				{
					@Html.HiddenFor(model => model.ID)


					List<SelectListItem> sel = new List<SelectListItem>();
					foreach (var item in @ViewBag.userList)
					{
						SelectListItem i = new SelectListItem();
						i.Text = item.Name;
						i.Value = item.ID.ToString();

						sel.Add(i);
					}


					<div class="form-group addUserToCourse">
						@Html.DropDownList("name", new SelectList(sel, "Value", "Text"), new { @class = "form-control" })
					</div>

					<div class="form-group addUserToCourse" id="teacherCheckBox">
						<label for="Teacher">Teacher?</label>
						@Html.CheckBox("Teacher", new { @id = "Teacher", @class = "checkbox-inline" })
					</div>

					<div class="form-group addUserToCourse">
						<input type="submit" class="btn btn-primary create-button" value="Add User" />
					</div>
				}
			</div>

		</div>

<div class="clearfix">
	<div class="table table-hover">

		<br />
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nr</th>
					<th>Name</th>
					<th>Email</th>
					<th>User Type</th>
					<th>Date Added</th>
				</tr>
			</thead>
			<tbody>

				@{int rowNo = 0;}
				@foreach (var item in Model.User)
				{
					<tr>
						<td>@(rowNo += 1)</td>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Email)
						</td>
						<td>
							@if (item.RoleID == 1)
							{
								@Html.Raw("Student")
							}
							else if (item.RoleID == 2)
							{
								@Html.Raw("Teacher")
							}
							else if (item.RoleID == 2)
							{
								@Html.Raw("Admin")
							}
						</td>
						<td>05-May-16 13:37:00</td>
					</tr>
				}
			<tbody>
		</table>
	</div>

</div>
