@model IEnumerable<Mooshak___H37.Models.Viewmodels.CourseViewModel>

@{
    ViewBag.Title = "ViewCourses";
}



<div class="clearfix">
    <div class="large-left-portion">
        <h1>Courses<button class="btn btn-primary create-button button-right" onclick="location.href='@Url.Action("CreateCourse", "Admin")'">Create New Course</button></h1>
        
        <label for="courses">Search Courses</label>
        <select id="courses" name="courses" class="form-control">
            @foreach(var item in Model)
            {
                <option>@item.Name</option>
            }
        </select>
        <label for="inactive">Inactive</label>
        <input type="checkbox" id="inactive" name="inactive" />
    </div>  
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Course</th>
                    <th>Teacher</th>
                    <th>Users</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>
                        <td>@item.Name</td>
                        <td></td>
                        <td>
							@if(item.User == null)
							{
								@Html.Raw("0");
							}
							else
							{
								@Html.Raw(item.User.Count);
							}
						</td>
                        <td>@item.Isactive</td>
						<td>@Html.ActionLink("Delete", "RemoveCourse", new { id = item.ID })</td>
						<td>@Html.ActionLink("Edit", "EditCourse", new { id = item.ID })</td>
                    </tr>
                }
            </tbody>
        </table>
    

</div>