@model IEnumerable<Mooshak___H37.Models.Viewmodels.UserViewModel>

@{
    ViewBag.Title = "View Users";
}

<div class="page-header">
	<h1>Users <small>List</small></h1>
</div>
<div class="clearfix">
    <div class="large-left-portion">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>
                        <td>@item.Name</td>
                        <td>@item.RoleName</td>
                        <td>@item.Email</td>                                                                    
                        <td>@Html.ActionLink("Edit", "EditUser", new { item.ID })</td>                        
                        <td>@Html.ActionLink("Remove", "RemoveUser", new { item.ID })</td>
                    </tr>}
            </tbody>
        </table>

    </div>
	<div class="small-right-portion btn-group-vertical">
		@Html.ActionLink("Create New User", "Register", "Account", null, new { @class = "btn btn-primary create-button" })
		@Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-primary create-button" })
	</div>

</div>
