@model Mooshak___H37.Models.Viewmodels.StudentSubmitViewModel

@using (Html.BeginForm("Submit", "Student", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>StudentSubmit</h4>
		<hr/>
		<p class="alert-info">@ViewBag.ErrorMessage</p>
		@Html.ValidationSummary(true, "", new {@class = "text-danger"})
		<div class="form-group">
			@Html.Hidden("Milestone")

			<div class="col-md-10">

				@Html.LabelFor(model => model.File, htmlAttributes: new {@class = "control-label col-md-2"})
				<input class="col-md-offset-2 col-md-10" type="file" name="File" id="File" accept=".cpp"/>
				@Html.ValidationMessageFor(model => model.File, "", new {@class = "text-danger"})
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Submit" class="btn btn-default"/>
			</div>
		</div>
	<div class="col-md-offset-2 col-md-10">
		</div>
			<div class="form-group">

			</div>
			<div class="col-md-offset-2 col-md-10">
				<div>
					@Html.ActionLink("Back to List", "Index")
				</div>
			</div>
			}
