@model Mooshak___H37.Models.Viewmodels.SubmissionsViewModel

<div>
    <h4>SubmissionsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.milestoneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.milestoneId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGraded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGraded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramFileLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramFileLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRemoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRemoved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
