@model Mooshak___H37.Models.Viewmodels.StudentSubmitViewModel

@{
	ViewBag.Title = "Submit Your Solution";
}

<h4>Submit Solution: </h4>
<hr />

@using (Html.BeginForm("Submit", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		<div class="clearfix">
			<div class="large-left-portion">

				<p class="alert-info">@ViewBag.ErrorMessage</p>
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.Hidden("Milestone")

					<div class="col-md-10">
						@Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
						<input class="col-md-offset-2 col-md-10" type="file" name="File" id="File" accept=".cpp" />
						@Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>

			<div class="small-right-portion btn-group-vertical">

				@*<div class="form-group">
					<div class="col-md-offset-2 col-md-10">*@
				<input type="submit" value="Submit" class="btn btn-primary create-button" />
				@Html.ActionLink("Go Back", "ViewAssignment", new { id = ViewBag.AssignmentId }, new { @class = "btn btn-primary create-button" })


				@*</div>*@

				@*<div class="col-md-offset-2 col-md-10">
					</div>
					<div class="form-group">

					</div>
					<div class="col-md-offset-2 col-md-10">*@
				@*</div>*@
			</div>
		</div>
	</div>
}
