@model IEnumerable<Mooshak___H37.Models.Viewmodels.SubmissionsViewModel>

@{
	ViewBag.Title = "View Submissions";
}

<div class="page-header">
	<h1>View Submissions <small>My Submissions</small></h1>
</div>
<div class="clearfix">
	<div class="large-left-portion">

		<table class="table table-hover">
			<tr>
				<th>
					Date Submitted
				</th>
				<th>
					Percentage
				</th>
				<th>
					Grade
				</th>
				<th>
					Testruns/<br />Success
				</th>
				<th></th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr style="@(item.FinalSolution == true ? "Background-color:rgb(81, 142, 255);" : "")">
					<td>
						@Html.DisplayFor(modelItem => item.DateSubmitted)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Milestone.Percentage) %
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Grade)
					</td>
					<td>
						@{
							if (item.NumOfTestruns > 0)
							{
							@Html.DisplayFor(modelItem => item.NumSuccessfulTestruns)
							}
						}
						/
						@{
							if (item.NumOfTestruns > 0)
							{
							@Html.DisplayFor(modelItem => item.NumOfTestruns)
							}

						}
						
					</td>
					<td>
						@Html.ActionLink("Details", "ViewSubmission", new { submissionId = item.ID })
					</td>
					<td></td>
				</tr>
			}

		</table>


		<div class="panel panel-default">
			<div class="panel-body">
				Allowed Submissions: @ViewBag.allowedSubmissions
			</div>
		</div>
	</div>
	<div class="small-right-portion btn-group-vertical">
		@Html.ActionLink("Submit", "Submit", new { milestoneId = ViewBag.milestoneId }, new { @class = "btn btn-primary create-button" })
		@Html.ActionLink("Go Back", "ViewAssignment", new { assignmentId = @ViewBag.assignmentId }, new { @class = "btn btn-primary create-button" })
	</div>
</div>
