@model Mooshak___H37.Models.Viewmodels.SubmissionsViewModel

@{
	ViewBag.Title = "View Submission";
}

<h2>@Model.Milestone.Assignment.Name</h2>
<hr />

<div class="clearfix">
	<div class="large-left-portion">
		
			<div class="panel panel-default">
				<div class="panel-body">
					Submitted On: @Html.ValueFor(model => model.DateSubmitted, "{0:dd/MM/yyyy}")
				</div>
			</div>
		<dl class="dl-horizontal">
			<pre class="prettyprint">@Model.code</pre>

		</dl>
		<table class="table table-hover">
			<tr>
				<th>
					Submission
				</th>
				<th>
					Success
				</th>
				<th>
					Comments
				</th>
			</tr>
			@{int rowNo = 0;}
			@foreach (var item in Model.Testruns)
			{
				<tr>
					<td>
						@(rowNo += 1)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsSuccess)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ResultComments)
					</td>
				</tr>
			}

		</table>
	</div>
	<div class="small-right-portion btn-group-vertical">
		@Html.ActionLink("Go Back", "ViewSubmissions", new { milestoneId = Model.MilestoneID }, new { @class = "btn btn-primary create-button" })
	</div>
</div>
