@model Mooshak___H37.Models.Viewmodels.AssignmentViewModel

@{
    ViewBag.Title = "View Assignment";
}

<div class="clearfix">
	<div class="large-left-portion">

		<div class="page-header">
			<h1>@Html.DisplayFor(model => model.CourseName) <small>@Html.DisplayFor(model => model.Name)</small></h1>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Description:</div>
			<div class="panel-body">
				@Html.DisplayFor(model => model.Description)
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				Due Date: @Html.ValueFor(model => model.DueDate, "{0:dd/MM/yyyy}")
			</div>
		</div>



		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nr</th>
					<th>Name</th>
					<th>Percentage</th>
					<th>Allowed Submissions</th>
					<th>Submit</th>
					<th>Submissions</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				@{ int rowNo = 0;}
				@foreach (var item in Model.Milestones)
			{
					<tr>
						<td>@(rowNo += 1)</td>
						<td>@item.Name</td>
						<td>@item.Percentage %</td>
						<td>@item.UserSubmissions  /  @item.AllowedSubmissions</td>
						<th>
							@Html.ActionLink("Submit", "Submit", new { milestoneId = item.ID })
						</th>
						<th>@Html.ActionLink("View", "ViewSubmissions", new { milestoneID = item.ID })</th>
						<th></th>
				</tr>
			}

				<tr>
					<th></th>
					<th>Total: </th>
					<th>@ViewBag.TotalPercentage %</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="small-right-portion btn-group-vertical">
		<button class="btn btn-primary create-button">Editor</button>
		<br />
		@Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-primary create-button" })
	</div>
</div>

@*<div class="clearfix">
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>*@

