@model Mooshak___H37.Models.Viewmodels.SubmissionsViewModel

@{
    ViewBag.Title = "View Submission";
}

<h2>@Model.Milestone.Assignment.Name</h2>
<div class="clearfix">
    <div class="large-left-portion">
        <hr />
	    <dl class="dl-horizontal">
		    <div class="panel panel-default">
			    <div class="panel-body">
				    Submitted On: @Html.ValueFor(model => model.DateSubmitted, "{0:dd/MM/yyyy}")
			    </div>
		    </div>

		    <pre class="prettyprint">@Model.code</pre>

	    </dl>
		<table class="table table-hover">
			<tr>
				<th>
					Submission
				</th>
				<th>
					Success
				</th>
				<th>
					Comments
				</th>
			</tr>

			@foreach (var item in Model.Testruns)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.SubmissionID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsSuccess)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ResultComments)
					</td>
				</tr>
			}

		</table>
    </div>
</div>
<p>
    @Html.ActionLink("Go Back", "ViewSubmissions", new { MilestoneID = Model.MilestoneID })
</p>
