@model Mooshak___H37.Models.Viewmodels.TestCaseViewModel

@{
	ViewBag.Title = "Create Test Case";
}

<h2>Create Test Case</h2>
<hr />
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="clearfix">
		<div class="large-left-portion">
			<div class="form-horizontal">

				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					<label class="control-label col-md-2" for="Inputstring">Input </label>
					<div class="col-md-10">
						@Html.TextAreaFor(model => model.Inputstring, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Inputstring, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="Outputstring">Output </label>
					<div class="col-md-10">
						@Html.TextAreaFor(model => model.Outputstring, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Outputstring, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
		</div>
		<div class="small-right-portion btn-group-vertical">
			<input type="submit" value="Create" class="btn btn-primary create-button" />
			@Html.ActionLink("Go Back", "TestCases", new { milestoneId = ViewBag.milestoneId }, new { @class = "btn btn-primary create-button" })
		</div>
	</div>
}