@model Mooshak___H37.Models.Viewmodels.MilestoneViewmodel

@{
	ViewBag.Title = "Create Milestone";
}

<h2>Create Milestone</h2>
<hr />

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="clearfix">
		<div class="large-left-portion">
			<div class="form-horizontal">
				@Html.HiddenFor(model => model.ID)
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.AllowedSubmissions, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.AllowedSubmissions, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.AllowedSubmissions, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
					</div>
				</div>

			</div>
		</div>
		<div class="small-right-portion btn-group-vertical">
			<input type="submit" value="Create" class="btn btn-primary create-button" />
			@Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-primary create-button" })
		</div>
	</div>
}


