@model Mooshak___H37.Models.Viewmodels.SubmissionsViewModel

@{
	ViewBag.Title = "Grade Submission";
}

<h2>Give Submission Grade: </h2>
<hr />

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="clearfix">
		<div class="large-left-portion">
			<div class="form-horizontal">
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.HiddenFor(model => model.ID)

				<div class="form-group">
					@Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-6">
						<pre class="prettyprint">@Model.code</pre>
					</div>
				</div>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nr</th>
								<th>Testrun Result</th>
							</tr>
						</thead>
						<tbody>
							@{int rowNo = 0;}
							@foreach (var item in Model.Testruns)
							{
								<tr>
									<td>@(rowNo += 1) </td>
									<td>@item.IsSuccess.ToString()  @item.ResultComments.ToString()</td>
								</tr>
							}
						</tbody>
					</table>

		
			</div>
		</div>
		<div class="small-right-portion btn-group-vertical">
			<input type="submit" value="Save" class="btn btn-primary create-button" />
			@Html.ActionLink("Go Back", "ViewSubmissions", new { MilestoneID = Model.MilestoneID }, new { @class = "btn btn-primary create-button" })
		</div>
	</div>

}