@model Mooshak___H37.Models.Viewmodels.AssignmentViewModel

@{
    ViewBag.Title = "Milestones";
}

<div class="page-header">
	<h1>@Html.DisplayFor(model => model.Name) <small>Milestones</small></h1>
</div>

<div class="clearfix">
    <div class="large-left-portion">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Name</th>
                    <th>Percentage</th>
                    <th>Submissions</th>
					<th>Remove</th>
                    <th>Edit</th>
					<th>Test Cases</th>
					<th>Submissions</th>
					<th></th>

                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 0;}
                @foreach (var item in Model.Milestones)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>
                        <td>@item.Name</td>
                        <td>@item.Percentage %</td>
                        <td>@item.TotalSubmissions</td>
						<td>@Html.ActionLink("Remove", "RemoveMilestone", new { id = item.ID })</td>
                        <td>@Html.ActionLink("Edit", "EditMilestone", new { milestoneID = item.ID })</td>
						<td>@Html.ActionLink("Test Cases", "TestCases", new { milID = item.ID })</td>
						<td>@Html.ActionLink("View", "ViewSubmissions", new { milestoneID = item.ID })</td>
						<td></td>
					</tr>
				}

				<tr>
					<th></th>
					<th>Total: </th>
					<th>@ViewBag.TotalPercentage %</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
            </tbody>
        </table>

		<div class="panel panel-default">
			<div class="panel-body">
				Due Date: @Html.ValueFor(model => model.DueDate, "{0:dd/MM/yyyy}")
			</div>
		</div>


    </div>
	<div class="small-right-portion btn-group-vertical">
		@*<button class="btn btn-primary create-button">Editor</button>*@
		@Html.ActionLink("Create Milestone", "CreateMilestone", new { assigID = Model.ID }, new { @class = "btn btn-primary create-button" })
		@Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-primary create-button" })
	</div>
</div>
