@model Mooshak___H37.Models.Viewmodels.MilestoneViewmodel

@{
    ViewBag.Title = "Remove Milestone";
}

<h2>Remove Milestone</h2>

<h3>Are you sure you want to remove this?</h3>
<div class="clearfix">
	<div>
		<hr />
		<div class="large-left-portion">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Name)</td>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Description)</td>
						<td>@Html.DisplayFor(model => model.Description)</td>
					</tr>
					<tr>
						<td>Submissions:</td>
						<td>@Html.DisplayFor(model => model.AllowedSubmissions)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Percentage)</td>
						<td>@Html.DisplayFor(model => model.Percentage) %</td>
					</tr>
				</tbody>
			</table>
		</div>



			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(model => model.ID)

				<div class="small-right-portion btn-group-vertical">
					<input type="submit" value="Remove" class="btn btn-primary create-button" />
					@Html.ActionLink("Go Back", "Milestones", new { assignmentId = Model.AssignmentID }, new { @class = "btn btn-primary create-button" })
				</div>
			}

		</div>
</div>