@model Mooshak___H37.Models.Viewmodels.TestCaseViewModel

@{
    ViewBag.Title = "Remove Test Case";
}


<h3>Are you sure you want to remove this?</h3>
<hr />
<div class="clearfix">
	<div class="large-left-portion">

		<div class="form-group">
			<pre class="prettyprint">@Html.DisplayFor(model => model.Inputstring)</pre>
		</div>
	</div>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="small-right-portion btn-group-vertical">
			<input type="hidden" name="testcaseId" value="@Model.ID" />
			<input type="hidden" name="milestoneId" value="@Model.MilestoneID" />
			<input type="submit" value="Remove" class="btn btn-primary create-button" />
			@Html.ActionLink("Go Back", "TestCases", new { milestoneId = Model.MilestoneID }, new { @class = "btn btn-primary create-button" })
		</div>
	}
</div>

