@model IEnumerable<Mooshak___H37.Models.Viewmodels.TestCaseViewModel>

@{
    ViewBag.Title = "Test Cases";
}

<div class="page-header">
	<h1>Test Cases <small>List</small></h1>
</div>

<div class="clearfix">
	<div class="large-left-portion">
		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Inputstring)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Outputstring)
				</th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Inputstring)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Outputstring)
					</td>
					<td>
						@*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
						@*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
						@Html.ActionLink("Remove", "RemoveTestCase", new { testCaseId = item.ID })
					</td>
				</tr>
			}

		</table>
	</div>

	<div class="small-right-portion btn-group-vertical">
		<p>
			@Html.ActionLink("Create New", "CreateTestCase", new { milestoneId = ViewBag.milestoneId }, new { @class = "btn btn-primary create-button" })
			@Html.ActionLink("Go Back", "Milestones", new { assignmentId = ViewBag.assignmentId }, new { @class = "btn btn-primary create-button" })
		</p>
	</div>



</div>





