@model Mooshak___H37.Models.Viewmodels.AssignmentViewModel

@{
    ViewBag.Title = "View Assignment";
}

<div class="clearfix">
    <h1>@Html.DisplayFor(model => model.CourseName) <small>@Html.DisplayFor(model => model.Name)</small></h1>
    <div class="large-left-portion">
        <div>
            <label for="student">Student</label>
            <select id="student" name="student" class="form-control">
                @foreach (var item in Model.Users)
                {
                    <option>@item.Name</option>}
            </select>
            <label for="graded">Graded</label>
            <input type="checkbox" id="graded" name="graded" />
            <br />
            <label for="milestone">Milestone</label>
            <select id="milestone" name="milestone">
                <option>Milestone1</option>
                <option>Milestone2 </option>
            </select>
        </div>
    
        <div class="panel panel-default">
            <div class="panel-body">
                Due Date: @Html.ValueFor(model => model.DueDate, "{0:dd/MM/yyyy}")                 </div>
         </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>User</th>
                    <th># returns</th>
                    <th>Graded</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 0;}
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <th>@(rowNo += 1)</th>
                        <th>@item.Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>}
            </tbody>
        </table>
    </div>
    <div class="small-right-portion">
        <p>
            @Html.ActionLink("Edit Assignment", "EditAssignment", new { id = Model.ID }, new { @class = "btn btn-primary create-button" })
			@Html.ActionLink("Remove Assignment", "RemoveAssignment", new { id = Model.ID }, new { @class = "btn btn-primary create-button" })
        </p>
    </div>
</div>


