@model IEnumerable<Mooshak___H37.Models.Viewmodels.SubmissionsViewModel>

@{
    ViewBag.Title = "View Submissions";
}

<div class="page-header">
	<h1>View Submissions <small>All Submissions</small></h1>
</div>
<div class="clearfix">
	<div class="large-left-portion">
		<table class="table table-hover">
			<tr>
				<th>
					Username
				</th>
				<th>
					Graded:
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Grade)
				</th>
				<th>
					File Location
				</th>
				<th>
					Date Submitted
				</th>
				<th></th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>

					<td>
						@Html.DisplayFor(modelItem => item.UserName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsGraded)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Grade)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ProgramFileLocation)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DateSubmitted)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.code)
					</td>
					@*<td>
							@Html.DisplayFor(modelItem => item.Testruns)
						</td>*@
					<td>
						@Html.ActionLink("Grade", "GradeSubmission", new { submissionId = item.ID })
					</td>
				</tr>
			}

		</table>
	</div>
	<div class="small-right-portion btn-group-vertical">
		@Html.ActionLink("Go Back", "Milestones", new { id = ViewBag.assignmentId }, new { @class = "btn btn-primary create-button" })
	</div>
	</div>