@model Mooshak___H37.Models.Viewmodels.AssignmentViewModel

@{
    ViewBag.Title = "View Assignment";
}

<div class="clearfix">
    <div class="large-left-portion">
		<h1>@Html.DisplayFor(model => model.CourseName) <small>@Html.DisplayFor(model => model.Name)</small></h1>
        <div class="panel panel-default">
            <div class="panel-heading">Description:</div>
            <div class="panel-body">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">                
                Due Date: @Html.ValueFor(model => model.DueDate, "{0:dd/MM/yyyy}")                
            </div>
         </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>User</th>
                    <th># returns</th>
                    <th>Graded</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 0;}
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <th>@(rowNo += 1)</th>
                        <th>@item.Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>}
            </tbody>
        </table>
    </div>
    <div class="small-right-portion btn-group-vertical">
        <p>
            @Html.ActionLink("Edit Assignment", "EditAssignment", new { id = Model.ID }, new { @class = "btn btn-primary create-button" })
			@Html.ActionLink("Remove Assignment", "RemoveAssignment", new { id = Model.ID }, new { @class = "btn btn-primary create-button" })
			@Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-primary create-button" })
		</p>
    </div>
</div>


